<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>

<body>
<header th:replace="fragments :: header"></header>

<h4>Bird classes list:</h4>
<div class="col-6">
    <a class="btn btn-success" th:href="@{'/birdClassView/create-bird-class/    '}">Add</a>
    <h3 th:unless="${birdClasses} and ${birdClasses.size()}">There are no bird classes!</h3>
    <table th:if="${birdClasses.size()>0}" class="table table-hover">
        <th>Id</th>
        <th>Name</th>
        <th>Edit</th>
        <th>Delete</th>
        <tr th:each="birdClass : ${birdClasses}">
            <td th:text="${birdClass.classId}"></td>
            <td th:text="${birdClass.className}"></td>
            <td><a class="btn btn-info"
                   th:href="@{'/birdClassView/edit/'+${birdClass.classId}}">Edit</a></td>
            <td><a class="btn btn-danger" th:href="@{'/birdClassView/delete/'+${birdClass.classId}}">Delete</a>
            </td>
        </tr>
    </table>
</div>
</body>

<footer th:replace="fragments :: footer"></footer>
</html>