<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>

<body>
<header th:replace="fragments :: header"></header>

<h4>Ornithology edit:</h4>
<div class="col-6">
    <form action="#" th:action="@{/birdClassView/update/{id}(id=${birdClass.classId})}" th:object="${birdClass}" method="post">
        <div class="form-group">
            <label for="className">Name:</label>
            <input class="form-control" type="text" th:field="*{className}" id="className">
        </div>
        <button type="submit" class="btn btn-primary">Update bird class</button>
    </form>
</div>
</body>

<footer th:replace="fragments :: footer"></footer>
</html>