<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>

<body>
<header th:replace="fragments :: header"></header>

<h4>User list:</h4>
<div class="col-6">
    <h3 th:unless="${users} and ${users.size()}">There are no countries!</h3>
    <table th:if="${users.size()>0}" class="table table-hover">
        <th>ID</th>
        <th>Name</th>
        <th>Edit</th>
        <th>Delete</th>
        <tr th:each="user : ${users}">
            <td th:text="${user.userId}"></td>
            <td th:text="${user.userName}"></td>
            <td><a class="btn btn-info"
                   th:href="@{'/userView/edit/'+${user.userId}}">Edit</a></td>
            <td><a class="btn btn-danger" th:href="@{'/userView/delete/'+${user.userId}}">Delete</a>
            </td>
        </tr>
    </table>
</div>
</body>

<footer th:replace="fragments :: footer"></footer>
</html>