<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>

<body>
<header th:replace="fragments :: header"></header>

<h4>Ornithology edit:</h4>
<div class="col-6">
    <form action="#" th:action="@{/genusView/update/{id}(id=${genus.genusId})}" th:object="${genus}" method="post">
        <div class="form-group">
            <select class="form-control" th:field="${genus.familyId}" id="family">
                <option value="">Select Family</option>
                <option th:each="family : ${families}" th:value="${family.familyId}"
                        th:text="${family.familyName}"></option>
            </select>
            <label for="genusName">Name:</label>
            <input class="form-control" type="text" th:field="*{genusName}" id="genusName">
            <label for="genusCreateDate">Date:</label>
            <input class="form-control" type="date" th:field="*{genusCreateDate}" id="genusCreateDate">
        </div>
        <button type="submit" class="btn btn-primary">Update genus</button>
    </form>
</div>
</body>

<footer th:replace="fragments :: footer"></footer>
</html>