<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>

<body>
<header th:replace="fragments :: header"></header>

<h4>Ornithology edit:</h4>
<div class="col-6">
    <form action="#" th:action="@{/birdFoundView/update/{id}(id=${birdFound.birdFoundId})}" th:object="${birdFound}" method="post">
        <div class="form-group">
            <label for="birdFoundDate">Date:</label>
            <input class="form-control" type="date" th:field="*{birdFoundDate}" id="birdFoundDate">
            <label for="birdFoundCoordinates">Coordinates:</label>
            <input class="form-control" type="text" th:field="*{birdFoundCoordinates}" id="birdFoundCoordinates">
            <label for="birdFoundPicture">Picture:</label>
            <input class="form-control" type="text" th:field="*{birdFoundPicture}" id="birdFoundPicture">

            <label for="species">Specie name:</label>
            <select class="form-control" th:field="${birdFound.speciesId}" id="species">
                <option value="">Select species</option>
                <option th:each="specie : ${species}" th:value="${specie.speciesId}"
                        th:text="${specie.speciesName}"></option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Update birds found</button>
    </form>
</div>
</body>

<footer th:replace="fragments :: footer"></footer>
</html>