<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>

<body>
<header th:replace="fragments :: header"></header>

<h4>Countries list:</h4>
<div class="col-6">
    <h3 th:unless="${countries} and ${countries.size()}">There are no countries!</h3>
    <table th:if="${countries.size()>0}" class="table table-hover">
        <th>ID</th>
        <th>Name</th>
        <th>Edit</th>
        <th>Delete</th>
        <tr th:each="country : ${countries}">
            <td th:text="${country.countryId}"></td>
            <td th:text="${country.countryName}"></td>
            <td><a class="btn btn-info"
                   th:href="@{'/countryView/edit/'+${country.countryId}}">Edit</a></td>
            <td><a class="btn btn-danger" th:href="@{'/countryView/delete/'+${country.countryId}}">Delete</a>
            </td>
        </tr>
    </table>
</div>
</body>

<footer th:replace="fragments :: footer"></footer>
</html>